asgiref==3.8.1
crispy-bootstrap5==2025.6
dj-database-url==3.0.1
Django==5.2.3
django-crispy-forms==2.4
django-sslserver==0.22
django-user-agents==0.4.0
gunicorn==23.0.0
packaging==25.0
psycopg2-binary==2.9.10
pypng==0.20220715.0
qrcode==8.2
setuptools==78.1.1
sqlparse==0.5.3
typing_extensions
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
user-agents==2.2.0
wheel==0.45.1
